include *.py
include LICENSE
recursive-include seriesmgmtsystem *.ics
recursive-include seriesmgmtsystem *.py
include *.rst *.md tox.ini
include requirements.txt
include seriesmgmtsystem/etc/*
recursive-exclude adnitc *.pyc *~